@using Mirosoft.Utilities.Mvc

@model List<Mirosoft.Utilities.Mvc.Test.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<text>@ViewBag.Products</text>
@using (Html.BeginForm())
{
    @Html.CheckBoxList("Products", Model, "Name", "Id")

    <button type="submit" class="btn btn-info">Submit</button>


    @Html.ActionLink("My Link", "actionName", "controllerName", null, new { style = "margin:10px", @class = "btn btn-info" });

    <a href="url-here" class="btn btn-info" style="margin:10px;">
        <i class="glyphicon glyphicon-pencil"></i>
        <span>My Link</span>
    </a>



    @Html.IconActionLink("Link Text", "ActionName", "Controller", null, new { @class = "btn btn-info" }, "glyphicon glyphicon-pencil")
}
